<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1" class=""></li>
                        <li data-target="#slider-carousel" data-slide-to="2" class=""></li>
                        <li data-target="#slider-carousel" data-slide-to="4" class=""></li>
                        <li data-target="#slider-carousel" data-slide-to="5" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>{{productsBestBegCount.0.ProName}}</span></h1>
                                 <h2>{{productsBestBegCount.0.countBidder}} Bidders</h2>
                                <h3>{{productsBestBegCount.0.curPrice}}product 1</h3>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="../../assets/images/9.png" class="girl img-responsive" alt="website template image">
                                
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>{{productsBestBegCount.1.ProName}}</span></h1>
                                 <h2>{{productsBestBegCount.1.countBidder}} Bidders</h2>
                                <h3>{{productsBestBegCount.1.curPrice}}product 2</h3>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="../../assets/images/9.png" class="girl img-responsive" alt="website template image">
                          
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>{{productsBestBegCount.2.ProName}}</span></h1>
                                 <h2>{{productsBestBegCount.2.countBidder}} Bidders</h2>
                                <h3>{{productsBestBegCount.2.curPrice}}product 3</h3>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="../../assets/images/9.png" class="girl img-responsive" alt="website template image">
                           
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>{{productsBestBegCount.3.ProName}}</span></h1>
                                 <h2>{{productsBestBegCount.3.countBidder}} Bidders</h2>
                                <h3>{{productsBestBegCount.3.curPrice}}product 4</h3>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="../../assets/images/9.png" class="girl img-responsive" alt="website template image">

                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>{{productsBestBegCount.4.ProName}}</span></h1>
                                 <h2>{{productsBestBegCount.4.countBidder}} Bidders</h2>
                                <h3>{{productsBestBegCount.4.curPrice}}product 5</h3>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="../../assets/images/9.png" class="girl img-responsive" alt="website template image">
                           
                            </div>
                        </div>
                    </div>
                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev"><i class="fa fa-angle-left"></i></a> <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next"><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>