<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1" class=""></li>
                        <li data-target="#slider-carousel" data-slide-to="2" class=""></li>
                        <li data-target="#slider-carousel" data-slide-to="4" class=""></li>
                        <li data-target="#slider-carousel" data-slide-to="5" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                 <a href="/product/{{productsBestBegCount.0.ID}}">
                                 <h1><span>{{productsBestBegCount.0.ProName}}</span></h1>
                                
                                 <h2>{{productsBestBegCount.0.countBidder}} Bidders</h2>
                                <h3>{{productsBestBegCount.0.curPrice}}product 1</h3>
                                 </a>
                                
                               {{#if isLogin}}
                                    {{#if isBidder}}
                                 <a href="/bidder/addwatchlist/{{product.ID}}">
                                <button type="button" class="btn btn-default get">Add to watch list</button>
                                </a>
                                    {{/if}}
                                {{else}}
                                <a href="/login">
                                <button type="button" class="btn btn-default get">Add to watch list</button>
                                </a>
                                {{/if}}
                            </div>
                            <div class="col-sm-6">
                                <img src="../../assets/photos/{{productsBestBegCount.0.ImagePro}}" class="girl img-responsive" alt="website template image">
                                
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <a href="/product/{{productsBestBegCount.1.ID}}">
                                <h1><span>{{productsBestBegCount.1.ProName}}</span></h1>
                                
                                 <h2>{{productsBestBegCount.1.countBidder}} Bidders</h2>
                                <h3>{{productsBestBegCount.1.curPrice}}product 2</h3>
                                </a>
                                {{#if isLogin}}
                                    {{#if isBidder}}
                                 <a href="/bidder/addwatchlist/{{product.ID}}">
                                <button type="button" class="btn btn-default get">Add to watch list</button>
                                </a>
                                    {{/if}}
                                {{else}}
                                <a href="/login">
                                <button type="button" class="btn btn-default get">Add to watch list</button>
                                </a>
                                {{/if}}
                            </div>
                            <div class="col-sm-6">
                                <img src="../../assets/photos/{{productsBestBegCount.1.ImagePro}}" class="girl img-responsive" alt="website template image">
                          
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <a href="/product/{{productsBestBegCount.2.ID}}">
                                <h1><span>{{productsBestBegCount.2.ProName}}</span></h1>
                                
                                 <h2>{{productsBestBegCount.2.countBidder}} Bidders</h2>
                                <h3>{{productsBestBegCount.2.curPrice}}product 3</h3>
                                </a>
                               {{#if isLogin}}
                                    {{#if isBidder}}
                                 <a href="/bidder/addwatchlist/{{product.ID}}">
                                <button type="button" class="btn btn-default get">Add to watch list</button>
                                </a>
                                    {{/if}}
                                {{else}}
                                <a href="/login">
                                <button type="button" class="btn btn-default get">Add to watch list</button>
                                </a>
                                {{/if}}
                            </div>
                            <div class="col-sm-6">
                                <img src="../../assets/photos/{{productsBestBegCount.2.ImagePro}}" class="girl img-responsive" alt="website template image">
                           
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <a href="/product/{{productsBestBegCount.3.ID}}">
                                <h1><span>{{productsBestBegCount.3.ProName}}</span></h1>
                                
                                 <h2>{{productsBestBegCount.3.countBidder}} Bidders</h2>
                                <h3>{{productsBestBegCount.3.curPrice}}product 4</h3>
                                </a>
                                {{#if isLogin}}
                                    {{#if isBidder}}
                                 <a href="/bidder/addwatchlist/{{product.ID}}">
                                <button type="button" class="btn btn-default get">Add to watch list</button>
                                </a>
                                    {{/if}}
                                {{else}}
                                <a href="/login">
                                <button type="button" class="btn btn-default get">Add to watch list</button>
                                </a>
                                {{/if}}
                            </div>
                            <div class="col-sm-6">
                                <img src="../../assets/photos/{{productsBestBegCount.3.ImagePro}}" class="girl img-responsive" alt="website template image">

                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <a href="/product/{{productsBestBegCount.4.ID}}">
                                <h1><span>{{productsBestBegCount.4.ProName}}</span></h1>
                                
                                 <h2>{{productsBestBegCount.4.countBidder}} Bidders</h2>
                                <h3>{{productsBestBegCount.4.curPrice}}product 5</h3>
                                </a>
                                {{#if isLogin}}
                                    {{#if isBidder}}
                                 <a href="/bidder/addwatchlist/{{product.ID}}">
                                <button type="button" class="btn btn-default get">Add to watch list</button>
                                </a>
                                    {{/if}}
                                {{else}}
                                <a href="/login">
                                <button type="button" class="btn btn-default get">Add to watch list</button>
                                </a>
                                {{/if}}
                            </div>
                            <div class="col-sm-6">
                                <img src="../../assets/photos/{{productsBestBegCount.4.ImagePro}}" class="girl img-responsive" alt="website template image">
                           
                            </div>
                        </div>
                    </div>
                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev"><i class="fa fa-angle-left"></i></a> <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next"><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>