<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item">
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center"><img style="width:70%, height:70%" src="../../assets/images/9.png" alt="website template image">
                            <h4>{{allProducts.1.curPrice}}</h4>
                            <p>{{allProducts.1.ProName}}</p>
                           {{#if isLogin}}
                              <a href="#"   class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart auction</a> 
                          {{else}}
                              <a href="/login"   class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to auction</a> 
                          {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                 <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center"><img style="width:70%, height:70%" src="../../assets/images/9.png" alt="website template image">
                            <h4>{{allProducts.2.curPrice}}</h4>
                            <p>{{allProducts.2.ProName}}</p>
                           {{#if isLogin}}
                              <a href="#"  class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart auction</a> 
                          {{else}}
                              <a href="/login"   class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to auction</a> 
                          {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item active">
            <div class="col-sm-4">
                 <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center"><img style="width:70%, height:70%" src="../../assets/images/9.png" alt="website template image">
                            <h4>{{allProducts.3.curPrice}}</h4>
                            <p>{{allProducts.3.ProName}}</p>
                           {{#if isLogin}}
                              <a href="#"   class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart auction</a> 
                          {{else}}
                              <a href="/login"   class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to auction</a> 
                          {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                 <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center"><img style="width:70%, height:70%" src="../../assets/images/9.png" alt="website template image">
                            <h4>{{allProducts.4.curPrice}}</h4>
                            <p>{{allProducts.4.ProName}}</p>
                           {{#if isLogin}}
                              <a href="#"   class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart auction</a> 
                          {{else}}
                              <a href="/login"   class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to auction</a> 
                          {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center"><img style="width:70%, height:70%" src="../../assets/images/9.png" alt="website template image">
                            <h4>{{allProducts.5.curPrice}}</h4>
                            <p>{{allProducts.5.ProName}}</p>
                           {{#if isLogin}}
                              <a href="#"   class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart auction</a> 
                          {{else}}
                              <a href="/login"   class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to auction</a> 
                          {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a> <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
    
    </div>
